@model Bangazon.Models.OrderViewModels.OrderCloseViewModel

@{
    ViewData["Title"] = "CloseOrder";
}

<h1>Complete Order</h1>


<form asp-action="CloseOrder">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.OrderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.DateCreated)
        </dd>
        <div class="form-group">
            <label asp-for="Order.PaymentTypeId" class="control-label"></label>
            <select asp-for="Order.PaymentTypeId" class="form-control" asp-items="Model.PaymentTypes"></select>
            <span asp-validation-for="Order.PaymentTypeId" class="text-danger"></span>
        </div>
    </dl>

   
        <input type="hidden" asp-for="@Model.Order.OrderId" />
        <input type="submit" value="Confirm Payment" class="btn btn-danger" /> |
        <a asp-action="ViewCart">Back to Shopping Cart</a>
    </form>
