@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "ViewCart";
}

<h1>Shopping Cart</h1>
@if (Model.Order == null)
{
    <tr>
        <td>
            <span>Your Shopping Cart is Empty</span>
        </td>
    </tr>
}
else
{
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Order.User)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Order.User.Email)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Order.DateCreated)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Order.DateCreated)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Order.PaymentType)
    </dt>
  

    @foreach (var item in Model.Order.OrderProducts)
    {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => item.Product.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => item.Product.Title)
            @Html.DisplayFor(model => item.Product.Price)
          
        </dd>
        <div><a asp-controller="Orders" asp-action="DeleteOrderProduct" asp-route-id="@item.OrderProductId">Delete</a></div>
    }

    <hr />
    <div>
        <a asp-action="Delete" asp-route-id="@Model.Order.OrderId">Cancel Order</a>|
        @if (Model.Order.OrderProducts.Count != 0)
        {
            <a asp-action="CloseOrder" asp-route-id="@Model.Order.OrderId">Confirm Shopping Cart</a>
        }
        
        <br />

        <a asp-action="Index">Back to List</a>
    </div>}
